.KisaanStationCard {
    .active {
        position: relative;
        &::after {
            content: " ";
            position: absolute;
            font-weight: bold;
            height: 10px;
            width: 100%;
            background-color: #e26b34;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            bottom: -12px;
            left: 0;
            right: 0;
        }
    }
}
