.infocard {
    display: flex;
    flex-wrap: wrap;

    .card1 {
        background: rgb(61, 61, 61);
        background: linear-gradient(
            90deg,
            rgba(61, 61, 61, 1) 0%,
            rgba(52, 75, 91, 1) 19%,
            rgba(49, 80, 103, 1) 46%,
            rgba(34, 102, 152, 1) 100%
        );
        color: white;
        padding: 0 2em 0 2em;
        position: relative;

        @media (max-width: 940px) {
            width: 100%;
            flex-grow: 1;
            flex: 1 1 auto;
        }

        .photo {
            position: absolute;
            object-fit: contain;
            height: 120%;
            bottom: 8px;
            left: 2em;
        }
        .details {
            display: flex;
            align-self: center;
            justify-content: flex-end;
            position: absolute;
            right: 2em;
            .mainheading {
                font-weight: 700;
                font-size: 2.5em;
            }
            .subheading {
                font-weight: 600;
                font-size: 0.9em;
                word-break: break-word;
                // max-width: 70%;w
                text-align: right;
            }
        }
    }

    .card2 {
        background-color: #226698;
        color: white;
        padding: 1em;
        display: flex;

        @media (max-width: 940px) {
            width: 100%;
            flex-grow: 1;
            flex: 1 1 auto;
        }

        .details {
            padding: 0 1em;
            @media (max-width: 940px) {
                &:last-child{
                    text-align: right;
                }
            }
            
            .mainheading {
                font-weight: 700;
                font-size: 2.5em;
            }
            .subheading {
                font-weight: 600;
                font-size: 0.9em;
                word-break: break-word;
            }
        }
    }
}