.carousalItem{
    cursor: pointer;
    border: 1px solid rgba(128, 128, 128, 0.332);
    margin: 0 0.5vmax;
    border-radius: 8px;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    color: rgb(197,197,197);
    fill: rgb(197,197,197);
    &:hover{
        color: rgb(197,197,197);
        background-color: rgba(199, 199, 199, 0.22);
    }
}

.svg{
    fill: blue;
}

.active{
    cursor: pointer;
    border: 1px solid rgb(244, 163, 64);
    margin: 0 0.5vmax;
    border-radius: 8px;
    background-color: rgb(244, 163, 64);
    color: white;
    font-weight: 500;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    fill: white;
    &:hover{
        color: white;
    }
}