@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.sidebar {
    background-color: white !important;
    font-family: Poppins;

    @media (max-width: 575px) {
        display: none;
    }

    .row1 {
        @media (max-width: 575px) {
            display: none;
        }
    }

    .sidebarHeader {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        height: min-content;
        flex-direction: column;

        .img {
            background-color: rgb(226, 107, 52);
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
            display: block;
            max-width: 40%;
            height: auto;
        }

        .headerText {
            color: rgb(226, 107, 52);
            margin: 1rem;
            font-size: 1.3vmax;
            text-align: center;
            font-weight: 500;
        }
    }
    .sidebarList {
        // height: 100%;

        .ul {
            margin-top: 1rem;
            list-style-type: none;
            margin-right: 0.5rem;
            flex-direction: column;
            padding: 0;
            display: flex;
            gap: 1rem;

            .active {
                height: 6vh;
                padding-left: 0.5vmax;
                stroke: white;
                justify-content: center;
                display: flex;
                font-size: 1vmax;
                align-items: center;
                background-color: rgb(226, 107, 52);
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                color: white;
                font-weight: 500;
                border-left: 0.5vmax solid rgb(244, 162, 114);
                cursor: pointer;
                fill: white;
            }
            .li {
                font-size: 1.2rem;
                height: 6vh;
                padding-left: 1vmax;
                
                justify-content: center;
                display: flex;
                font-size: 1vmax;
                align-items: center;
                background-color: white;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                color: rgb(166, 164, 164);
                font-weight: 500;
                cursor: pointer;
                fill: rgb(166, 164, 164);

                &:hover {
                    background-color: rgba(208, 208, 208, 0.339);
                }
            }
        }
    }
}
