@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.Page5 {
    height: 297mm;
    width: 210mm;
    border: 1px solid rgb(139, 139, 139);
    background-color: white;
    padding: 40px;
    position: relative;

    @media print {
        page-break-after: always;
    }

    .heading {
        font-size: 30px;
        padding-bottom: 20px;
        text-decoration: solid underline #1c6817 5px;
        font-weight: 600;
        text-underline-offset: 10px;
        margin-bottom: 30px;
    }
    .left {
        display: flex;
        width: 43%;
        justify-content: space-between;
        background-color: #fff3d7;
        padding: 20px;
        border-radius: 12px;

        .head {
            font-size: 18px;
            font-weight: 500;
        }
        .soilType {
            color: #563e1f;
            font-weight: 600;
            margin-top: 15px;
            font-size: 23px;
        }
        svg{
            color: #563E1F;
            fill: #563E1F;
        }
        .ph{
            color: #E26B26;
            font-size: 20px;
            font-weight: 600;
        }
        .phHeading{
            color: #815D2F;
            font-size: 12px;
        }
    }
    .right {
        display: flex;
        width: 55%;
        margin-left: 2%;
        flex-direction: column;
        border-radius: 12px;
        background-color: #fff3d7;
        padding: 20px;

        .head{
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 20px;
        }
        .val{
            color: #E26B26;
            font-size: 18px;
            font-weight: 600;
        }
        .info{
            color: #815D2F;
            font-size: 12px;
        }
    }
    .formWrapper {
        margin-top: 2em;
        gap: 1em;
        .heading {
            font-family: "Poppins", sans-serif;
            color: #000000;
            font-size: 1.2em;
            margin: 1em 0;
            text-align: left;
            text-decoration: none;
            font-weight: 600;
        }
    }
}
