::root {
    font-family: "Poppins";
}
.viewnavbar {
    background-color: #ffffff;
    font-size: 1.3vmax;
    color: rgb(86, 62, 31);
    height: 7vh;
    font-weight: 500;
    padding: 1rem;
}
.viewProfile-wrapper {
    background-color: white;
    min-height: 80vh;
    margin: 1rem;
    border-radius: 8px;
    font-size: 1vmax;
    padding: 1rem 2rem;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .viewProfile-images {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        height: max-content;

        img {
            max-width: 12em !important;
            max-height: 12em !important;
        }
    }


    .viewProfile-info {
        font-family: Poppins;
        font-weight: 600;

        .viewProfile-info--col {
            .viewProfile-info--sub {
                gap: 1rem;
                &:nth-child(1) {
                    color: rgb(161, 161, 161);
                }
                &:nth-child(2) {
                    color: rgb(86, 63, 31);
                }
            }
        }
    }

    .viewProfile-description {
        font-family: Poppins;
        font-weight: 600;
        .viewProfile-descriptiono--heading {
            font-size: 1.2vmax;
            color: rgb(226, 107, 52);
        }
        .viewProfile-description-p {
            color: rgb(86, 63, 31);
        }
    }

    .viewProfile-sellinfo {
        font-family: Poppins;
        font-weight: 600;
        .viewProfile-sellinfo--heading {
            font-size: 1.2vmax;
            color: rgb(226, 107, 52);
        }
        .viewProfile-sellinfo--sub {
            gap: 1rem;
            &:nth-child(1) {
                color: rgb(161, 161, 161);
            }
            &:nth-child(2) {
                color: rgb(86, 63, 31);
            }
        }
    }

    .viewProfile-buttons {
        font-size: calc(1em + 0.5vw);
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        justify-content: flex-end;
        align-items: flex-end;
        button {
            border-radius: 50px;
            width: 12vmax;
            border: none;
            font-weight: 600;
            color: white;
            text-align: center;
            padding: 0.5rem 1rem 0.5rem 1rem;
        }
        .cancelButton{
            font-weight: 600;
            font-family: Poppins;
            flex: 0.15;
            border: 1px solid rgb(124,124,124);
            padding: 0.5rem 1rem 0.5rem 1rem;
            border-radius: 50px;
            color: rgb(124,124,124);
            background-color: transparent;

            &:hover{
                transform: scale(0.95);
            }
            @media (max-width: 576px) {
                flex-grow: 1;
                flex-basis: 100%;
            }
        }
        .viewProfile-button {
            &:hover{
                transform: scale(0.95);
            }

            &:nth-child(1) {
                background-color: rgb(219, 75, 85);
                @media (max-width: 576px) {
                    flex-grow: 0.5;
                    flex-basis: 100%;
                }
            }
            &:nth-child(2) {
                background-color: rgb(66, 148, 73);
                @media (max-width: 576px) {
                    flex-grow: 0.5;
                    flex-basis: 100%;
                }
            }
        }

        .innerdiv{
            @media (max-width: 576px) {
                width: 100%;
            }
        }
    }
}

.rejectMessageDialog {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(129, 129, 129, 0.519);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    .rejectMessageDialog--info {
        box-shadow: 2px 2px 7px 0px rgba(85, 85, 85, 0.75);
        border-radius: 10px;
        position: absolute;
        left: 50%;
        background-color: white;
        top: 45%;
        height: min-content;
        font-size: 1.2vmax;
        width: 50vmin;
        transform: translate(-50%, -50%);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        span {
            text-align: center;
            font-family: "Poppins";
            font-weight: 500;
        }
        textarea {
            border: none;
            font-size: 1vmax;
            background-color: rgb(245, 245, 245);
            padding: 1rem;
            resize: none;
            border-radius: 10px;

            &:focus{
                outline: none;
                border: none;
            }
        }
        .rejectMessageDialog--buttons {
            display: flex;
            gap: 1rem;
            margin-top: 2rem;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .rejectMessageDialog--button {
                &:nth-child(1) {
                    background-color: rgb(221, 221, 221);
                    border-radius: 20px;
                    padding: 0.4rem 1rem 0.4rem 1rem;
                    color: rgb(129, 129, 129);
                    flex: 0.2;
                    text-align: center;
                    cursor: pointer;
                    &:hover{
                        transform: scale(0.95);
                    }
                }
                &:nth-child(2) {
                    background-color: rgb(226, 107, 52);
                    border-radius: 20px;
                    padding: 0.4rem 1rem 0.4rem 1rem;
                    flex: 0.2;
                    color: white;
                    text-align: center;
                    cursor: pointer;
                    &:hover{
                        transform: scale(0.95);
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .viewProfile-wrapper {
        font-size: 0.9em;

        .viewProfile-images {
            max-width: 12em !important;
            max-height: 12em !important;
            display: flex;
            min-height: 20vh;
            overflow: scroll;
            flex-direction: row;
            gap: 1rem;
            // flex-wrap: wrap;
            margin-bottom: 1rem;
        }
    }
    .viewProfile-info--col {
        font-size: 0.9em;
        justify-content: left;
        padding: 1rem;

        .viewProfile-info--sub {
            flex-grow: 1;
        }
    }

    .viewProfile-sellinfo {
        font-size: 0.9em;
        .viewProfile-sellinfo--col {
            .viewProfile-sellinfo--sub {
                flex-grow: 1;
            }
        }
    }

    .viewProfile-buttons {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        justify-content: space-between;
        align-items: center;
        button {
            flex: 1;
        }
        .viewProfile-button {
            &:nth-child(1) {
                background-color: rgb(219, 75, 85);
            }
            &:nth-child(2) {
                background-color: rgb(66, 148, 73);
            }
        }
    }

    .rejectMessageDialog--buttons {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .rejectMessageDialog--button {
            &:nth-child(1) {
                flex: 1;
            }
            &:nth-child(2) {
                flex: 1;
            }
        }
    }
}
