.Carousel {
    margin: 0;
    overflow-x: scroll;
    position: relative;
    height: calc(80px + 1vw);
    border-radius: 10px;
    width: calc(80px + 1vw);
    cursor: zoom-in;
    border: 2px solid rgba(72, 72, 72, 0.542);
    // padding: 2px;
    .carouselInner {
        white-space: nowrap;
        transition: ease 1s;
        height: 100%;
    }
}
