@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body::-webkit-scrollbar {
    display: none;
}

.MyStationServices {
    height: 100vh;
    overflow: auto;
    font-family: Poppins;

    .content {
        .navbar {
            background-color: #ffffff;
            color: rgb(86, 62, 31);
            height: 7vh;
            font-weight: 500;
            padding: 1rem;
        }

        .carousel {
            border-radius: 8px;
        }

        .submittedbar {
            background-color: white;
            border-radius: 8px;
            margin: 1rem;
            .header {
                margin: 2rem;
                justify-content: space-between;

                @media (max-width: 576px) {
                    justify-content: center;
                }

                .h1 {
                    font-size: 1.5vmax;
                    @media (max-width: 576px) {
                        text-align: center;
                        padding-bottom: 1rem;
                        font-size: 2em;
                    }
                }
                .buttons {
                    justify-content: right;
                    flex-grow: 1;
                    height: 5vh;
                    font-size: 1.2vmax;
                    @media (max-width: 576px) {
                        justify-content: center;
                        font-size: 1.5em;
                    }
                    .edit {
                        width: 25%;
                        border-radius: 5px;
                        border: 1.5px solid rgb(226, 109, 53);
                        background-color: rgb(226, 109, 53);
                        color: rgb(255, 255, 255);
                        &:hover {
                            transform: scale(0.95);
                        }
                        @media (max-width: 576px) {
                            flex: 0.5;
                        }
                    }
                }
            }

            .hr {
                width: 100%;
                border: 1px solid rgba(197, 197, 197, 0.465);
                @media (max-width: 576px) {
                    width: 100%;
                }
            }

            .subhr {
                width: 95%;
                border: 1px solid rgba(197, 197, 197, 0.465);
                @media (max-width: 576px) {
                    text-align: center;
                    margin: 0 auto;
                }
            }

            .upperheading {
                font-weight: 600;
                padding: 0;
                font-size: 1.1vmax;
                color: rgb(29, 29, 29);
                @media (max-width: 576px) {
                    font-size: 1em;
                    padding: 0.5vmax 1vmax ;
                }
            }
            .heading {
                color: rgb(226, 109, 53);
                font-weight: 500;
                padding: 0 1.5vmax;
                font-size: 1.2vmax;

                @media (max-width: 576px) {
                    font-size: 1.5em;
                    padding: 1.5vmax;
                }
            }

            .subheading {
                font-weight: 500;
                padding: 0;
                font-size: 1.1vmax;
                color: rgb(29, 29, 29);
                @media (max-width: 576px) {
                    font-size: 1em;
                    padding: 0.5vmax 1vmax ;
                }
            }

            .text {
                font-weight: 300;
                font-size: 1.1vmax;

                padding: 1vmax 0;
                color: rgb(141, 141, 141);
                @media (max-width: 576px) {
                    font-size: 1em;
                    padding: 0 1.5vmax;
                }
            }
        }
    }
}
