.sidebar-button {
    font-size: 15px;
    width: 100%;
    color: #a6a4a4;
    cursor: pointer;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    a {
        text-decoration: none;
        color: #a6a4a4;
    }
}
.sidebar-button.active {
    background: #e26b26;
    color: #fff;
    a {
        color: #fff;
    }
}
