@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

.EmployeesView {
    height: 100vh;
    overflow: auto;
    font-family: Poppins;
    font-size: 16px;
    @media (min-width: 1960px) {
        font-size: calc(14px + 0.4vw);
    }
    @media (max-width: 1440px) {
        font-size: 14px;
    }
    @media (max-width: 768px) {
        font-size: 13px;
    }
    @media (max-width: 576px) {
        font-size: 12px;
    }

    .content {
        .navbar {
            background-color: #ffffff;
            color: rgb(86, 62, 31);
            font-weight: 500;
            padding: 1em;

            .search {
                display: flex;
                flex-direction: row;
                justify-content: right;
                align-items: center;
                padding: 0.3em 1em;
                color: #8c8c8c;
                gap: 1em;
                border: 2px solid #f4f4f4;
                border-radius: 50px;
                background-color: rgb(255, 255, 255) !important;

                @media (max-width: 768px) {
                    justify-content: center;
                    width: 100%;
                }

                .input {
                    width: 100%;
                    border: none;
                    min-width: 15vw;
                    font-family: Poppins;
                    font-weight: 500;
                    transition: 0.5s;
                    color: black;

                    &:focus {
                        outline: none;
                    }
                }

                .searchsvg {
                    height: calc(15px + 1vw);
                    width: calc(15px + 1vw);
                }
            }
            .notiicon {
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    background-color: #f4f4f4;
                    border-radius: 50%;
                    height: calc(30px + 1vw);
                    width: calc(30px + 1vw);
                    color: #888888;
                    padding: 0.4em;
                }
            }
        }

        .headerWrapper {
            width: 100%;
            font-size: 1em;
            display: flex;
            justify-content: center;

            .header {
                background-color: #ffffff;
                margin: 1em;
                border-radius: 8px;
                width: 100%;
                padding: 1em;
                // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                //     rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                .left {
                    .imgwrapper {
                        display: flex;
                        align-items: flex-start;
                        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
                        cursor: zoom-in;
                        height: calc(90px + 1vw);
                        width: calc(60px + 1vw);
                        border-radius: 8px;
                        overflow: scroll;
                        .img {
                            object-fit: contain;
                            height: calc(90px + 1vw);
                            width: calc(60px + 1vw);
                            border-radius: 8px;
                        }
                    }
                    .info {
                        margin-left: 1em;
                        .employeeName {
                            font-size: 1.3em;
                            font-family: "Lato", sans-serif;
                            font-weight: 700;
                            color: #4e4e4e;
                        }
                        .designation {
                            margin-bottom: 0.5em;
                            font-size: 1em;
                            font-family: "Lato", sans-serif;
                            font-weight: 600;
                            color: #4e4e4ea2;
                            display: flex;
                            flex-wrap: wrap;
                        }
                    }
                }
                .right {
                    .buttons {
                        margin-top: 1em;
                        display: flex;
                        gap: 10px;

                        .button {
                            font-size: 0.9em;
                            background-color: #0374ba;
                            border-radius: 50px;
                            min-width: 10vw;
                            padding: 0.4em 2em;
                            border: none;
                            color: white;
                            min-width: fit-content;
                        }
                    }
                }
            }
        }

        .bottomWrapper {
            width: 100%;
            font-size: 1em;
            display: flex;
            justify-content: center;

            .bottom {
                background-color: #ffffff;
                margin: 1em;
                border-radius: 8px;
                width: 100%;
                // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                //     rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

                .leftSwitcher {
                    background-color: #24689a;
                    border-bottom-left-radius: 8px;
                    border-top-left-radius: 8px;
                    ol {
                        text-decoration: none;
                        list-style: none;
                        padding: 1em 0 1em 1em;
                        margin: 0;

                        li {
                            text-align: left;
                            border-bottom-left-radius: 8px;
                            border-top-left-radius: 8px;
                            padding: 0.7em 3em;
                            cursor: pointer;
                            font-weight: 600;
                            color: white;
                            font-size: 0.9em;

                            &:focus,
                            &:active {
                                color: #24689a;
                                background-color: #ffffff;
                            }
                        }

                        .focus{
                            color: #24689a;
                            background-color: #ffffff;
                        }
                    }
                }

                .rightData {
                    min-height: 50vh;

                    .modal {
                        padding: 2em 2em;

                        .datarow {
                            padding: 0.3em 0 0.3em 0.3em;

                            .leftdata {
                                font-weight: 500;
                                font-family: Poppins;
                                color: #646464;

                            }

                            .rightdata{
                                font-weight: 500;
                                font-family: Poppins;
                                color: #336686;
                            }
                        }
                    }
                }
            }
        }
    }
}
