.Breadcrumb {
    display: flex;
    flex-direction: row-reverse;
    color: gray;
    font-family: Poppins;
    font-size: 16px;

    @media (max-width: 1440px) {
        font-size: 14px;
    }
    .activeCrum {
        color: rgb(86, 62, 31);
        font-weight: 600;
        cursor: pointer;
    }

    .crum {
        cursor: pointer;
        &:hover {
            color: black;
        }
    }
}
