.TravelExpensesPopup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 5;
  @media (max-width: 320px) {
    display: flex;
    align-items: flex-start;
  }
  .TravelExpensesPopup_Modal {
    background: white;
    border: 1px solid black;
    border-radius: 16px;
    padding: 2em;
    background-color: rgb(248, 249, 250);
    margin: 1em;
    width: 56em;
    @media (max-width: 320px) {
      margin: 5em;
    }
    .userTitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      //   margin-bottom: 1em;
      .userTitle_heading {
        display: flex;
        align-items: center;
        @media (max-width: 1024px) and (min-width: 320px) {
          display: flex;
          align-items: center;
        }
        @media (max-width: 480px) {
          font-size: 1em;
        }
        .userName {
          margin-right: 10px;
          color: #276b9c;
          font-weight: 600;
          font-size: 1.3em;
          @media (max-width: 320px) {
            font-size: 1em;
          }
          .userId {
            font-size: 1em;
            @media (max-width: 320px) {
              font-size: 3em;
            }
          }
        }
      }
    }
    .department {
      display: flex;
      justify-content: space-between;
      font-size: 1em;
      .designation {
        color: #5c5c5c;
      }
      .date {
        color: #276b9c;
        font-size: 1em;
        font-weight: 500;
      }
    }
    .travelsDetails {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .travelDateContainer {
        display: flex;
        align-items: center;
        .DateTitle {
          color: #276b9c;
          font-size: 1em;
          font-weight: 500;
        }
        .travelDate {
          color: #5c5c5c;
          font-size: 1em;
        }
      }

      .travelAmountContainer {
        display: flex;
        align-items: center;
        margin-top: 1em;
        .travelAmountTitle {
          color: #276b9c;
          font-size: 1em;
          font-weight: 500;
        }
        .travelAmount {
          color: #5c5c5c;
          font-size: 1em;
        }
      }
    }

    .numberOfDay {
      display: flex;
      align-items: center;
      margin-top: 1em;
      font-size: 1em;
      margin-top: 1em;
      .numberOfDayTitle {
        color: #276b9c;
        font-weight: 500;
      }
      .numberDay {
        color: #5c5c5c;
      }
    }

    .discriptionContainer {
      display: flex;
      margin-top: 1em;
      max-width: 600px;
      height: 50px;
      overflow: auto;

      .discriptionTitle {
        color: #276b9c;
        font-size: 1em;
        font-weight: 500;
        margin-right: 1em;
      }
      .discription {
        color: #5c5c5c;
      }
    }

    .linkContainer {
      margin-top: 1em;
      a {
        color: #276b9c;
        font-size: 1em;
        font-weight: 500;
      }
    }
    .uploadImageContainer {
      height: 7em;
      width: 7em;
      display: flex;
      align-items: center;
      justify-content: center;
      //   position: absolute;
      //   object-fit: cover;
      .image {
        object-fit: cover;
      }
      img {
      }
    }

    .buttonSection {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      // margin-top: 1em;
      button {
        margin: 2em;
        border-radius: 6em;
        padding: 0.5em;
        width: 6em;
      }
      .Approve {
        background-color: #257062;
        color: white;
      }
      .Reject {
        border: 2px solid red;
      }
    }
  }
}
