@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.Page6 {
    height: 297mm;
    width: 210mm;
    border: 1px solid rgb(139, 139, 139);
    background-color: white;
    padding: 40px;
    position: relative;

    @media print {
        page-break-after: always;
    }

    .heading {
        font-size: 30px;
        padding-bottom: 20px;
        text-decoration: solid underline #1c6817 5px;
        font-weight: 600;
        text-underline-offset: 10px;
        margin-bottom: 30px;
    }
    .contentbox {
        border: 2px solid #EDEDED;
        border-radius: 12px;
        padding: 20px;

        .content {
            padding: 15px 10px 15px 0;
            font-size: 16px;
            .left {
                font-weight: 500;
            }
            .right {
                font-weight: 500;
                font-size: 15px;
            }
        }
    }
}
