.active {
    font-size: 0.9em;
    padding: 1em 0;
    padding-left: 0.5em;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #623e13;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-weight: 500;
    border-left: 0.5em solid #623e13;
    cursor: pointer;
    fill: white;

    &:hover {
        color: white;
    }
    svg {
        @media (min-width: 1440px) {
            transform: scale(1.1);
        }
    }
}
.li {
    font-size: 0.9em;
    padding: 1em 0;
    padding-left: 1em;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(166, 164, 164);
    font-weight: 500;
    cursor: pointer;
    fill: rgb(166, 164, 164);

    &:hover {
        background-color: rgba(208, 208, 208, 0.339);
        color: rgb(166, 164, 164);
    }

    svg {
        @media (min-width: 1440px) {
            transform: scale(1.2);
        }
    }
}
