@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.tr {
    background-color: #ffffff;
    font-size: 16px;

    @media (min-width: 1960px) {
        // font-size: calc(14px + 0.4vw);
        font-size: 18px;
    }
    @media (max-width: 1440px) {
        font-size: 14px;
    }
    @media (max-width: 768px) {
        font-size: 13px;
    }
    @media (max-width: 576px) {
        font-size: 12px;
    }

    td {
        padding: 1em 0 1em 1em;
        background-color: white;
        font-weight: 500;
    }
    .krishiBazaar-td {
        &:nth-child(1) {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        &:nth-last-child(1) {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
        .krishiBazaar-td--view-button {
            border: 2px solid #e26b26;
            padding: 0.4em 1em 0.4em 1em;
            border-radius: 10px;
            text-decoration: none;
            color: #e26b26;

            &:hover {
                background-color: #e26b2623;
            }
        }
    }
}

.pending,
.Processing {
    color: #e26b26;
    background-color: rgb(254, 244, 235);
    padding: 0.4em 1em 0.4em 1em;
    border-radius: 50px;
}

.approved,
.Completed {
    color: rgb(68, 152, 77);
    background-color: rgb(235, 245, 237);
    padding: 0.4em 1em 0.4em 1em;
    border-radius: 50px;
}

.rejected {
    color: rgb(237, 56, 51);
    background-color: rgb(252, 233, 233);
    padding: 0.4em 1em 0.4em 1em;
    border-radius: 50px;
}

.Active {
    color: rgb(68, 152, 77);
    background-color: rgb(235, 245, 237);
    padding: 0.4em 1em 0.4em 1em;
    border-radius: 50px;
}

.InActive {
    color: rgb(237, 56, 51);
    background-color: rgb(252, 233, 233);
    padding: 0.4em 1em 0.4em 1em;
    border-radius: 50px;
}
