.active {
    height: 6vh;
    padding: 0 calc(1em - 0.5vmax);
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 0.75em;
    align-items: center;
    background-color: rgb(226, 107, 52);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    font-weight: 500;
    border-left: 0.5vmax solid rgb(244, 162, 114);
    cursor: pointer;
    fill: white;

    &:hover {
        color: white;
    }
}
.li {
    font-size: 0.75em;
    height: 6vh;
    padding: 0 1em;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(166, 164, 164);
    font-weight: 500;
    cursor: pointer;
    fill: rgb(166, 164, 164);

    &:hover {
        background-color: rgba(208, 208, 208, 0.339);
        color: rgb(166, 164, 164);
    }
}
