.card {
    font-family: Poppins;
    display: flex;
    flex-grow: 1;
    flex-basis: 100%;
    margin: 1rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    .card-body {
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        justify-content: space-between;
        .krishiBazaarTableCard--header {
            .heading--info:nth-child(1) {
                font-size: 0.8rem;
                margin-bottom: 1rem;
                width: fit-content;
            }
            .heading--info:nth-child(2) {
                font-size: 0.9em;
                color: black;
                font-weight: 600;
            }
            .krishiBazaarTableCard--viewDetails {
                border: 1.8px solid rgb(219, 104, 50);
                height: min-content;
                border-radius: 50px;
                padding: 0.3rem 0.5rem 0.3rem 0.5rem;
                font-size: 0.8em;
                text-align: center;
                font-weight: 600;
                color: rgb(219, 104, 50);
                .krishiBazaarTableCard--view-button {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
        .hr {
            margin: 1rem 0 0.5rem 0;
            border: 0.1px solid #e2e2e2;
            width: 100%;
            display: flex;
            align-self: flex-end;
        }
        .krishiBazaarTableCard-change {
            div {
                font-size: 0.8rem;
                padding: 0.5rem 0rem;
                .rishiBazaarTableCard-change--left:nth-child(1) {
                    color: rgb(86, 62, 31);
                    font-weight: 500;
                }
            }
        }
    }

    &:hover {
        scale: 0.97;
    }
    @media (min-width: 870px) {
        flex: 1;
        justify-content: center;
    }
}

// Single
.pending {
    color: #e26b26;
    background-color: rgb(254, 244, 235);
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 50px;
}

.approved {
    color: rgb(68, 152, 77);
    background-color: rgb(235, 245, 237);
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 50px;
}

.rejected {
    color: rgb(237, 56, 51);
    background-color: rgb(252, 233, 233);
    padding: 0.4rem 1rem 0.4rem 1rem;
    border-radius: 50px;
}

.rent {
    color: rgb(27, 94, 224);
}

.sell {
    color: rgb(243, 155, 63);
}
