.main_ProfileHeader {
  margin: 11px 23px;
  .ProfileHeader {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;

    @media only screen and (max-width: 678px) {
      display: flex;
      flex-direction: column;
      height: auto;
      display: flex;
      text-align: center;
      justify-content: flex-start;
      align-items: flex-start;
      margin: 8px;
    }
    .userLogo {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-right: 1px solid #bbbbbb;
      margin: 20px;
      width: 308px;
      @media only screen and (max-width: 678px) {
        height: auto;
        border-right: none;
      }
      .userImage {
        aspect-ratio: 1/1;
        width: 90px;
        height: 90px;
        border-radius: 9px;
        border: 5px solid #c4c4c4;
        object-fit: contain;
        @media screen and (max-width: 678px) {
          width: 70px;
          height: 70px;
        }
      }

      .userpostDetails {
        margin-left: 30px;
        margin-right: 20px;
        color: #4e4e4e;
        .userName {
          color: #4e4e4e;
          font-size: 22px;
          font-weight: 600;

          text-align: start;
          @media screen and (max-width: 678px) {
            font-size: 18px;
            font-weight: 300;
          }
        }
        .userPost {
          color: #4e4e4e;
          font-weight: 300;
          font-size: 12px;
          @media screen and (max-width: 678px) {
            font-weight: 200;
            font-size: 15px;
          }
        }
      }
    }

    .userDetailes {
      display: flex;
      justify-content: space-evenly;
     align-items: flex-start;
      flex-wrap: wrap;
      width: 100%;
      @media screen and (max-width: 678px) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: start;
        padding-right: 20px;
      }

      .thirdDetails {
        padding-left: 20px;
        padding-right: 20px;
        .thirdDisit {
          color: #24689a;
          font-size: 40px;
          font-weight: 700;

          @media screen and (max-width: 678px) {
            font-size: 23px;
            font-weight: 500;
          }
        }
        .thirdText {
          font-size: 18px;
          font-weight: 300;
          color: #24689a;
          @media screen and (max-width: 678px) {
            font-size: 12px;
            font-weight: 200;
          }
        }
      }
    }
  }
}
