body::-webkit-scrollbar {
    display: none;
}

.FarmAnalysis {
    height: 100vh;
    overflow: auto;
    font-family: Poppins;
    font-size: 16px;

    @media (min-width: 1960px) {
        font-size: 20px;
    }
    @media (max-width: 1960px) {
        font-size: 16px;
    }
    @media (max-width: 768px) {
        font-size: 12px;
    }
    @media (max-width: 576px) {
        font-size: 10px;
    }

    .content {
        .navbar {
            background-color: #ffffff;
            color: rgb(86, 62, 31);
            height: 7vh;
            font-weight: 500;
            padding: 1rem;
        }

        .profile {
            background-color: white;
            height: 100%;
            border-radius: 8px;
            border: 1px solid rgba(210, 210, 210, 1);
            width: 100%;
            padding: 2em;
            font-size: 0.8em;
            gap: 0.5em;

            .name {
                font-size: 1.5em;
                font-weight: 600;
                color: #563f1f;
            }
            .username {
                font-size: 1em;
                font-weight: 500;
                color: #563f1f;
            }

            .img {
                height: 7vw;
                width: 7vw;
                margin: 1em;
            }
            .bottom {
                color: #563f1f;
                font-weight: 500;
                font-size: 0.9em;
            }
        }
        .orderlist {
            background-color: white;
            height: 40vh;
            border-radius: 8px;
            border: 1px solid rgba(210, 210, 210, 1);
            padding: 2em;
            font-size: 1em;
            overflow: scroll;
            &::-webkit-scrollbar {
                -webkit-appearance: none;
                width: 7px;
            }
            &::-webkit-scrollbar-thumb {
                border-radius: 4px;
                background-color: rgba(146, 145, 145, 0.5);
                -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
            }

            .heading {
                font-weight: 600;
                font-size: 1.3em;
                color: #563f1f;
            }

            th {
                color: #563e1f86;
                font-size: 1em;
            }
            td {
                color: #626262;
                padding: 0.9em 0;
            }
            .hr {
                width: 100%;
                margin: 0.5em 0;
                border: 0.1px solid rgba(192, 192, 192, 0.35);
            }
        }

        .statistic {
            background-color: white;
            height: 100%;
            border-radius: 8px;
            border: 1px solid rgba(210, 210, 210, 1);
            padding: 2em;
            font-size: 1em;
            .heading {
                font-weight: 600;
                font-size: 1.3em;
                color: #563f1f;
            }

            .svgwrapper {
                background-color: #e26b26;
                width: fit-content;
                height: min-content;
                padding: 0.8em;
                border-radius: 8px;
                font-size: 0.8em;
            }
        }
    }
}
