@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.ApprovalsView {
    height: 100vh;
    overflow: auto;
    font-family: Poppins;
    font-size: 16px;

    &::-webkit-scrollbar {
        display: none;
    }
    @media (min-width: 1960px) {
        font-size: calc(14px + 0.4vw);
    }
    @media (max-width: 1440px) {
        font-size: 14px;
    }
    @media (max-width: 768px) {
        font-size: 12px;
    }

    .navbar {
        background-color: white;
        color: rgb(86, 62, 31);
        height: 7vh;
        font-weight: 500;
        padding: 1em;

        .navtext {
            font-weight: 500;
        }
        @media (max-width: 576px) {
            font-size: 1em;
        }
    }

    .details {
        border: 2px solid rgba(128, 128, 128, 0.179);
        display: flex;
        flex-direction: column;
        background-color: white;
        justify-content: space-between;
        height: auto;
        margin: 1em;
        border-radius: 10px;
        position: relative;

        .topleft {
            margin: 1em;

            .imgwrapper {
                display: inline-block;
                flex-direction: row;
                font-size: 1em;
                font-weight: 500;
                color: rgb(86, 62, 31);
                gap: 1em;

                .img {
                    display: inline;
                    max-width: 4em;
                    height: auto;
                    margin: 1em;
                    cursor: zoom-in;
                }
            }

            .heading {
                font-size: 1em;
                color: #999999;
                font-weight: 500;
            }
            .sellerName {
                font-size: 1.5em;
                color: #563e1f;
                font-weight: 700;
            }
        }

        .topRight {
            margin: 1em;
            @media (max-width: 768px) {
                width: 100%;
                margin-top: -1em;
            }

            .heading {
                font-size: 1em;
                color: #999999;
                text-align: center;
                font-weight: 500;
            }
            input[type="checkbox"] {
                height: 0;
                width: 0;
                visibility: hidden;
                margin: 0;
                padding: 0;
            }

            label {
                cursor: pointer;
                font-size: 10px;
                width: 140px;
                height: 30px;
                background: #ffffff;
                border: 2px solid #d6d6d6;
                display: block;
                border-radius: 100px;
                position: relative;
                font-weight: 600;
            }

            label:after {
                content: "";
                position: absolute;
                left: 5px;
                width: 60px;
                height: 20px;

                background-color: #e26b264e;
                border-radius: 90px;
                transition: 0.3s;
            }

            input:checked + label {
                background: #ffffff67;
            }

            input:checked + label:after {
                left: calc(100% - 5px);
                transform: translateX(-100%);
            }

            input:checked + label:after {
                background: #bcbcbc5d;
            }
        }

        .hr {
            border: 0.1px solid rgba(128, 128, 128, 0.143);
        }

        .bottom {
            font-family: Poppins;
            font-weight: 500;
            font-size: 1em;
            padding: 1em;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap-reverse;

            @media (max-width: 576px) {
                font-size: 1em;
            }

            .row {
                padding: 1em;
                .docimg {
                    object-fit: contain;
                    padding: 6px;
                    height: 7em;
                    width: 13em;
                    border: 2px solid rgba(128, 128, 128, 0.179);
                    border-radius: 10px;
                    cursor: zoom-in;
                    @media (max-width: 576px) {
                        height: 5em;
                        width: 9em;
                    }
                }
                .left {
                    color: rgb(104, 104, 104);
                    flex-shrink: 0;
                }

                .right {
                    color: #563f1f;
                }
            }
        }
    }
    .middlebar {
        background-color: rgb(249, 241, 229);
        display: flex;
        font-size: 1em;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        padding: 0.6rem;
        gap: 1rem;
        align-items: center;
        margin: 1rem 0;
        overflow: auto;
        flex-grow: 5vw;
        @media (max-width: 768px) {
            justify-content: center;
            flex-direction: column-reverse;
            flex-wrap: wrap;
            & > * {
                flex-grow: 1;
                align-items: center;
                justify-content: center;
            }
        }

        .headerrow {
            width: 100%;
            @media (max-width: 768px) {
                flex-grow: 1;
            }

            li {
                text-decoration: none;
            }
        }
        .activemiddlebar {
            cursor: pointer;
            font-family: Poppins;
            padding: 0.6rem;
            font-weight: 500;
            width: fit-content;
            background-color: rgb(244, 163, 64);
            border-radius: 8px;
            color: white;
            width: max-content;
            flex-grow: 0.1;
            transition-duration: 0.5s;
            transition-property: "background-color";
            &:active {
                color: rgb(249, 241, 229);
            }
            @media (max-width: 768px) {
                flex-grow: 0.5;
            }
        }
        .button {
            cursor: pointer;
            font-family: Poppins;
            color: rgb(86, 62, 31);
            width: fit-content;
            padding: 0.6rem;
            font-weight: 500;
            border-radius: 8px;
            width: max-content;
            flex-grow: 0.1;
            &:hover {
                background-color: rgba(205, 205, 205, 0.204);
                border-radius: 8px;
            }
            @media (max-width: 768px) {
                flex-grow: 0.5;
            }
        }
        .search {
            display: flex;
            flex-direction: row;
            justify-content: left;
            align-items: center;
            border: 0.2px solid #c8652b82;
            padding: 0.5rem 1rem 0.5rem 1rem;
            gap: 1rem;
            border-radius: 0.5rem;
            background-color: rgb(255, 255, 255) !important;

            @media (max-width: 768px) {
                justify-content: left;
                flex: 1;
            }

            .input {
                border-radius: 20px;
                border: none;
                min-width: 10vw;
                font-family: Poppins;
                font-weight: 500;
                transition: 0.5s;
                &:focus {
                    outline: none;
                    // width: 15vw;
                }
            }
        }
    }
    .krishiBazaarTable {
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        font-family: poppins;
        color: rgb(135, 118, 116);
        font-size: 1em;

        .table {
            overflow: hidden;
            border-collapse: separate;
            border-spacing: 0 1em;
            table-layout: fixed;

            th {
                padding: 0 0 1em 1em;
            }
        }

        .krishiBazaar-cards {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
    }
}

.rejectMessageDialog {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(129, 129, 129, 0.519);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    z-index: 6;

    .rejectMessageDialoginfo {
        box-shadow: 2px 2px 7px 0px rgba(85, 85, 85, 0.75);
        border-radius: 10px;
        position: absolute;

        left: 50%;
        background-color: white;
        top: 45%;
        height: min-content;
        font-size: 1.2em;
        min-width: 300px;
        width: 30vw;
        transform: translate(-50%, -50%);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        span {
            text-align: center;
            font-family: "Poppins";
            font-weight: 500;
        }
        textarea {
            border: none;
            font-size: 0.8em;
            background-color: rgb(245, 245, 245);
            padding: 1em;
            resize: none;
            border-radius: 10px;

            &:focus {
                outline: none;
                border: none;
            }
        }
        .rejectMessageDialogbuttons {
            display: flex;
            gap: 1rem;
            margin-top: 2rem;
            flex-wrap: wrap;
            justify-content: center;

            align-items: center;

            .rejectMessageDialogbutton {
                &:nth-child(1) {
                    background-color: rgb(221, 221, 221);
                    border-radius: 5px;
                    padding: 0.4em 1em 0.4em 1em;
                    color: rgb(129, 129, 129);
                    flex: 0.2;
                    text-align: center;
                    cursor: pointer;
                    font-size: 1em;
                    &:hover {
                        transform: scale(0.95);
                    }
                }
                &:nth-child(2) {
                    background-color: rgb(226, 107, 52);
                    border-radius: 5px;
                    padding: 0.4em 1em 0.4em 1em;
                    flex: 0.2;
                    color: white;
                    text-align: center;
                    cursor: pointer;
                    font-size: 1em;
                    &:hover {
                        transform: scale(0.95);
                    }
                }
            }
        }
    }
}
