.login::-webkit-scrollbar {
    display: none;
}

.login {
    background-image: url("../../assests/loginbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: auto;
    font-family: Poppins;
    font-size: 16px;
    color: white;

    @media (min-width: 1960px) {
        font-size: calc(14px + 0.4vw);
    }
    @media (max-width: 1440px) {
        font-size: 14px;
    }
    @media (max-width: 768px) {
        font-size: 13px;
    }
    @media (max-width: 576px) {
        font-size: 12px;
    }

    .header {
        padding-left: 5%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media (max-width: 570px) {
            padding: 0%;
            gap: 1em;
            justify-content: center;
        }

        .img {
            background-color: white;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
        .headerText {
            margin-left: 1em;
            font-size: 2em;
            color: white;
            font-family: "Poppins", sans-serif;
            font-weight: 500;

            @media (max-width: 570px) {
                margin: 0%;
            }
        }
    }
    .formwrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        height: stretch;
        .form {
            padding: 2em 3em;
            font-size: 1em;
            gap: 2rem;
            // left: 50%;
            transform: translateY(-20%);
            display: flex;
            justify-content: center;
            flex-direction: column;
            background-color: #563e1f5b;
            backdrop-filter: blur(5px);
            border-radius: 20px;
            height: fit-content;
            min-height: 300px;
            min-width: 300px;

            .h1 {
                text-align: left;
                color: white;
            }
            .labelPadding {
                gap: 0.5em;
                display: flex;
                flex-direction: column;
            }
            .errorlabel {
                font-size: 0.9em;
                color: rgb(203, 210, 109);
                display: flex;
                align-items: center;
                gap: 5px;
            }
            .input {
                color: gray;
                border-radius: 8px;
                font-size: 1em;
                border: none;
                width: 100%;
                padding: 0.5em 1em;
                &:focus {
                    outline: none;
                    border: none;
                }
            }
            .eye {
                background-color: white;
                border-radius: 8px;
                padding: 0;
                margin: 0;
                display: flex;
                align-items: center;

                color: black;
            }
            .eyeicon {
                margin-right: 1rem;
                color: gray;
                font-size: 1.3em;
            }

            .forget {
                text-align: right !important;
            }

            .submitbutton {
                border-radius: 20px;
                width: 100%;
                margin-bottom: 2rem;
                padding: 0.5em 3em;
                align-self: center;
                border: none;
                color: white;
                font-weight: 600;
                background-color: rgb(226, 107, 52);

                &:hover {
                    transform: scale(0.98);
                }
            }
        }
    }
}
